{% extends "base.html" %}
{% load static %}


{% block content %}
    {% if not access_code and not guest_access_code %}
        {% if user_name_required %}
            <!-- No password / Only Username required -->
            <div class="lockscreen-wrapper">
                <div class="lockscreen-logo">
                    Join <strong>{{ room.name }}</strong>
                </div>

                <div class="lockscreen-item">
                    <div class="lockscreen-image">
                        <img src="{% static 'img/default_profile.png' %}" alt="User Image">
                    </div>
                    <form class="lockscreen-credentials" id="username_submit_form">
                        <div class="input-group" id="join_username_input">
                            <input id="join_username" type="text" class="form-control" name="username"
                                   placeholder="Username" required>
                            <div class="input-group-append">
                                <button type="submit" class="btn"><em class="fas fa-arrow-right text-muted"></em></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="help-block text-center" id="join_username_text">
                    Please enter your name to join the room.
                </div>
            </div>
        {% else %}
            <!-- Waiting for moerator to start room -->
            <div class="lockscreen-wrapper">
                <div class="lockscreen-logo">
                    Join <strong>{{ room.name }}</strong>
                    <p class="mt-3"><em class="fas fa-2x fa-sync-alt fa-spin"></em></p>
                </div>
                <div class="help-block text-center">
                    We are preparing your room. We will redirect you as soon as its ready  or the moderator arrived.
                </div>
            </div>
        {% endif %}
    {% elif guest_access_code and not request.user.is_authenticated %}
        <div class="lockscreen-wrapper">
            <div class="lockscreen-logo">
                Joining <strong>{{ room.name }}</strong>
            </div>

            <div class="lockscreen-item">
                <div class="lockscreen-image">
                    <img src="{% static 'img/default_profile.png' %}" alt="User Image">

                </div>
                <form class="lockscreen-credentials" method="post"
                      action="?action=guest_access_code">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="password" class="form-control" name="access_code" placeholder="Access code"
                               required>
                        <input type="hidden" name="room" value="{{ room.pk }}">
                        <div class="input-group-append">
                            <button type="submit" class="btn"><em class="fas fa-arrow-right text-muted"></em></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="help-block text-center">
                Please enter the guest access code for this room.
            </div>

        </div>
    {% else %}
        <div class="lockscreen-wrapper">
            <div class="lockscreen-logo">
                Join <strong>{{ room.name }}</strong>
            </div>

            <div class="lockscreen-item">
                <div class="lockscreen-image">
                    <img src="{% static 'img/default_profile.png' %}" alt="User Image">

                </div>
                <form class="lockscreen-credentials" method="post"
                      action="?action=general_access_code">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="password" class="form-control" name="access_code" placeholder="Access code"
                               required>
                        <input type="hidden" name="room" value="{{ room.pk }}">
                        <div class="input-group-append">
                            <button type="submit" class="btn"><em class="fas fa-arrow-right text-muted"></em></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="help-block text-center">
                Please enter the access code for this room.
            </div>

        </div>
    {% endif %}

{% endblock %}


{% block scripts %}
    {% if not access_code and not user_name_required and not guest_access_code %}
        <script>
            $(document).ready(function () {
                function get_meeting_status() {
                    $.ajax({
                        url: "{% url 'get_meeting_status' room.meeting_id %}",
                        type: "GET",
                        success: function (json) {
                            if (json['is_running']) {
                                location.reload()
                            }
                        },
                        error: function (xhr, errmsg, err) {
                            console.log(errmsg)
                        }
                    })
                };
                setInterval(get_meeting_status, 5000);
            });
        </script>
    {% endif %}
    <script>
        $(document).ready(function () {

            $('#username_submit_form').submit(function (e) {
                e.preventDefault();
                let username = $('#join_username').val();
                if (username.length >= 2) {
                    $.ajax({
                        url: "{% url 'session_set_username' %}",
                        type: "POST",
                        data: {username: username, csrfmiddlewaretoken: '{{ csrf_token }}'},
                        success: function () {
                            location.reload()
                        },
                        error: function (xhr, errmsg, err) {
                            console.log(errmsg)
                        }
                    });
                } else {
                    $('#join_username_input').css('border', '1px solid red');
                    $('#join_username_text').css('color', 'red').text("Username is to short. Please Enter a longer username.");
                }

            })

        });
    </script>
{% endblock %}

