{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load tz %}

{% block page_title %}
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="table_desc">{% trans "Recordings overview" %}</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table aria-describedby="table_desc" class="table table-hover table-sm">
                                <thead class="thead-light">
                                <tr>
                                    {% if request.user.is_staff %}
                                        <th scope="col" >{% trans "Creator" %}</th>
                                    {% endif %}
                                    <th scope="col" >{% trans "Room name" %}</th>
                                    <th scope="col" >{% trans "Date" %}</th>
                                    <th scope="col" >{% trans "URL" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for record in recordings %}
                                    <tr>
                                        {% if request.user.is_staff %}
                                            <td>{{ record.creator }}</td>
                                        {% endif %}
                                        <td>{{ record.room_name }}</td>
                                        <td>{{ record.started|timezone:"Europe/Berlin"|date:"d.m.Y - G:i" }}</td>
                                        <td>{{ base_url }}{% url 'recording_redirect' record.replay_id %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>

    </section>



{% endblock %}


{% block scripts %}
    {% if request.user.is_staff %}
        <script>
            $(document).ready(function () {
                $(document).on('click', '#open_delete_room_config_delete_modal', function () {
                    $('#delete_room_config_delete').attr('href', '/core/room/config/delete/' + $(this).data('id'));
                    $('#delete_room_config_delete_modal').modal('toggle');
                });

            });

        </script>
    {% endif %}
{% endblock %}